body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header {
    border: thin solid black;
    background-color: rgb(57, 57, 57);
    padding: 0px
}
h1 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}


li {
height: 20px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    top: 0px;
    color: gray;
}

#top {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 2px;
    

}
#big{
    margin: 30px;
    text-align: center;


}

header li {
    display: inline;
    padding-left: 30px;

}

.colum{
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;

}

.row::after{
   content: "";
    display: table;
   clear: both;
}

#section{
    float: left;
    color: black;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    
}

#scroll{
    height: 200px;
    overflow: scroll;
    text-align: center;
}

.container{
    text-align:left;
    padding: 10px;
    border: 10px;
    

}
.btn{
    color: white;
    background-color: black;
    cursor: pointer;

}
footer{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    position: relative;
    margin-top: 0px;
    height: 50px;
    clear: both;
    
}

